<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soaring.eagle.api.module.sys.mapper.SysMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.soaring.eagle.entity.sys.SysMenu">
		<id column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="pids" property="pids" />
		<result column="name" property="name" />
		<result column="sort" property="sort" />
		<result column="href" property="href" />
		<result column="icon" property="icon" />
		<result column="permission" property="permission" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<result column="remarks" property="remarks" />
		<result column="disabled" property="disabled" />
		<result column="deleted" property="deleted" />
		<result column="type" property="type" />
	</resultMap>
	<!-- 根据用户Id获取菜单 -->
    <select id="queryMenuByUserId" resultType="com.soaring.eagle.entity.sys.SysMenu">
		SELECT DISTINCT sm.*
		FROM sys_menu sm, sys_user_role sur,sys_role_menu srm
		WHERE sur.role_id = srm.role_id AND sm.id = srm.menu_id
		AND sm.disabled = '0' AND sm.deleted = '0' AND sm.type = '1'
		AND sur.user_id = #{userId}
		ORDER BY sm.sort ASC
	</select>

</mapper>
